.wrap{
	display: flex;
	width: 857px;
	margin: 0 auto;
  }
  .content{
	width: 348px;
	background: #b3d4d1;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .content p{
	width: 237px;
	font-size: 20px;
	color: #ffffff;
	font-family: Helvetica;
	letter-spacing: 1px;
	line-height: 1.3;
	
  }